a:hover {
    text-decoration: none;
}
.banner-box{
    position: relative;
    .banner-title {
        position: absolute;
        top: -9ex;
        color: white;
        text-shadow: -2px 2px 2px #222222;
        z-index: 999;
    }
}
.dash-icons:before {
    font-size: 2em;
}
.welcome {
    font-size: 2em;
}
.dashboard-box {
    button{
        width: 17em;
        border-radius: 0;
    }
    .taglines{
        font-size: 1.2em;
    }
}

.background {
    background-image: url(../assets/images/books.jpg);
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    height: 30ex;
    margin-bottom: 3ex;
}

/* login page */
.login-banner{
    position: relative;
    top: -27ex;
    #login-box {
        text-align: center;
        position: relative;
    #login {
        .glyphicon {
            font-size: 10em;
        }
        .fa {
            position: absolute;
            right: 46%;
            top: 1ex;
            font-size: 6em;
            color: white;
        }
    }
}

}

/* GROUP */
.group-view {
    form {
        
        .submit {
            margin-top: 1ex;
            margin-right: 1em;
        }
    }
    .map {
        text-align: center;
        img {
            margin-top: 3ex;
            height: 43ex;
            width: 20em;
        }
    }
}

/* LIST */
.list-view-container{
    .map{
        text-align: center;
        .lib-pic {
            height: 300px;
            width: 250px;
        }
    }
    .input-group {
        width: 100%;
        input {
            border-radius: 0;
            border-right: none;
            border-left: none;
            border-top: none;
            line-height: 4ex;
            width: 100%;
        }
    }
    
    .list-view{
        .top-map {
            margin: 4ex 0;
            button {
                
            }
        }
        .panel {
            .list {
                thead{
                    tr{
                        th{
                            color: #777;
                            font-size: 1.1em;
                            text-align: center; 
                        }
                    }
                }
                tr{
                    td{
                        width: 33%;
                        text-align: center;
                        font-weight: bolder;
                        
                        .dropdown-menu{
                            left: -12em;
                            a {
                                padding: 0;
                            }
                            .popup-map {
                                height: 30ex;
                                width: 14em;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*end list */

/* MANAGE */
.manage-page {
    .edit-mode{
        .save-button{
            margin-top: 4.1ex;
        }
        .buttons {
            padding: 2ex 0;
            button{
                width: 100%;
            }
        }
        overflow: hidden;
//        .btn {
//            margin: 2ex 0;
//        }
    }
    
    .panel-body {
        span {
        width: 33%;
        text-align: center;
        font-weight: bolder;   
        }
    }
    
} //endmanage


/* DASHBOARD */
.jumbotron{
    text-align: center;
}

/* NAV */
.navbar {
    margin-bottom: 0;
    .container-fluid {
        padding: 1.5ex;
        ul {
            li {
                text-align: right;
            }
        }
    }
}


// fade between states
[ui-view].ng-enter  {
  -webkit-animation: enter_sequence .3s ease-in; /* Safari/Chrome */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

@media (max-width: 767px){
    .manage-page {
    .edit-mode{
        .panel-body{
            padding: 8px;
        }
        .input-boxes{
            margin-bottom: 1ex;
        }
        
            .save-button{
                margin-top: 0;
            }
        .buttons {
            padding: 0;
            margin: 1ex 0;
        }
        }
    }
}

// injector
// endinjector


