
.container {
    width: 90%;
    margin: 0 auto;
    

    .create-form {
        .input-box {
            width: 100%;
            display: inline-block;
            float: left;
            margin-bottom: 4ex;
                label {
                    float: left;
                }
                .create-input {
                float: right;
                background-color: #b6f2dd;
                border: 2px solid lightblue;
                }
                .sections {
                    width: 40%;
                }
                
        } //input box
        #create-submit{
                    margin: 0 auto;
                }
    } //create-form, form
} //container


// injector
// endinjector
