$green: #398974;
$green-hover: #1D6250;
$blue: #436380;
$blue-hover: #2f5474;
$delete: #B13331;
$delete-hover: #8e2624;

a:hover {
    text-decoration: none;
}

.container{
    font-family: 'Roboto', sans-serif;
}
.banner-box{
    position: relative;
    .banner-title {
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        position: absolute;
        top: -9ex;
        color: white;
        text-shadow: -2px 2px 2px #222222;
        z-index: 999;
    }
}
.dash-icons:before {
    font-size: 2.3em;
    margin: 1ex 0;
}
.welcome {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}
.dashboard-box {
    background-color:#DFF2EC;
    .dash-icons{
        margin-top: 1ex;
    }
    button{
        background-color: $green;
        border: none;
        width: 17em;
        margin: 1ex 1em;
    }
    button:hover {
        background-color: $green-hover;
    }
    .taglines{
        font-size: 1.2em;
    }
}

.background {
    background-image: url(../assets/images/books.jpg);
    background-size: cover;
    background-position-x: 40%;
    background-position-y: 50%;
    height: 30ex;
    margin-bottom: 3ex;
}

/* login page */
.login-banner{
    position: relative;
    top: -27ex;
    #login-box {
        text-align: center;
        position: relative;
    #login {
        .glyphicon {
            font-size: 10em;
        }
        .fa {
            position: absolute;
            right: 46%;
            top: 1ex;
            font-size: 6em;
            color: white;
        }
    }
}

}

/* GROUP */
.group-view {
    form {
        
        .submit {
            margin-top: 1ex;
            margin-right: 1em;
            border: none;
            background-color: $blue;
        }
        .submit:hover{
            background-color: $blue-hover;
        }
    }
    .map {
        text-align: center;
        img {
            margin-top: 3ex;
            height: 43ex;
            width: 20em;
        }
    }
}

/* LIST */
.list-view-container{
    .map{
        text-align: center;
        .lib-pic {
            height: 300px;
            width: 250px;
        }
    }
    .input-group {
        width: 100%;
        input {
            border-radius: 0;
            border-right: none;
            border-left: none;
            border-top: none;
            line-height: 4ex;
            width: 100%;
        }
    }
    
    .list-view{
        .top-map {
            margin: 4ex 0;
            .btn {
                background-color: $green;
                border: none;
            }
            .btn:hover{
                background-color: $green-hover;
            }
        }
        .panel {
            border: solid $green 1px;
            .panel-heading{
                background-color: $green;
                color: white;
            }
            .list {
                thead{
                    tr{
                        th{
                            color: #777;
                            font-size: 1.1em;
                            text-align: center; 
                        }
                    }
                }
                tr{
                    td{
                        width: 33%;
                        text-align: center;
                        font-weight: bolder;
                        
                        .dropdown-menu{
                            left: -12em;
                            a {
                                padding: 0;
                            }
                            .popup-map {
                                height: 30ex;
                                width: 14em;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*end list */

/* MANAGE */
.manage-page {
    .edit-mode{
        .save-button{
            margin-top: 4.1ex;
        }
        .buttons {
            padding: 2ex 0;
            button{
                border: none;
                background-color: $blue;
                width: 100%;
            }
            button:hover{
                background-color: $blue-hover;
            }
            .delete{
                background-color: $delete;
            }
            .delete:hover{
                background-color: $delete-hover;
            }
        }
        overflow: hidden;
//        .btn {
//            margin: 2ex 0;
//        }
    }
    .panel-heading {
        .panel-title{
            color: white;
        }
        background-color: #5785AE;
    }
    .panel-body {
        span {
        width: 33%;
        text-align: center;
        font-weight: bolder;   
        }
    }
    
} //endmanage


/* DASHBOARD */
.jumbotron{
    text-align: center;
}

/* NAV */
.navbar {
    margin-bottom: 0;
    padding: 1.5ex;
        .navbar-brand{
            font-family: 'Roboto Slab', serif;
        }
        .navbar-right{
            margin-right: 1em;
            li {
                font-family: 'Roboto', sans-serif;
                text-align: right;
            }
        }
}


// fade between states
[ui-view].ng-enter  {
  -webkit-animation: enter_sequence .3s ease-in; /* Safari/Chrome */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

@media (max-width: 767px){
    .manage-page {
    .edit-mode{
        .panel-body{
            padding: 8px;
        }
        .input-boxes{
            margin-bottom: 1ex;
        }
        
            .save-button{
                margin-top: 0;
            }
        .buttons {
            padding: 0;
            margin: 1ex 0;
        }
        }
    }
}
@media (max-width: 535px){
    .dashboard-box {
    button{
        display: inline;
        border-radius: 1ex;
        width: 17em;
        .dash-icons:before {
            font-size: 1.5em;
            margin: 1ex 0;
        }
    }

    }
}
// injector
// endinjector


