<div class="banner-box"><h2 class="banner-title">Browse Active Groups</h2></div>
<div class="list-view-container">
<div sticky class="input-group col-sm-12"><input ng-model="searchText" placeholder="Search">
</div>
<div class="list-view">
    <div class="top-map">
        <button class="btn btn-warning col-xs-offset-9 col-sm-offset-10" ng-click="isCollapsed = !isCollapsed">View Map</button>
        <div collapse="!isCollapsed">
            <div class="well well-lg map">
                <img class="lib-pic" src="/assets/images/lib.png">
            </div> 
         </div>
    </div> 
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Active Groups</h3>
        </div>
        <div>
            <div class="table list">
                <div>
                   <div class="col-xs-4 thead">Course</div>
                   <div class="col-xs-4 thead">Instructor</div>
                   <div class="col-xs-4 thead">Location (click to see map)</div>
                </div>
                <div ng-repeat="group in list.arr | filter:searchText">
                    <div class="row">
                        <div class="col-xs-4" ng-click="showDetail =! showDetail">
                            {{group.class | uppercase}}
                            <span ng-if="list.hasDetail(group.detail)" 
                                class="view-more fa fa-plus-circle"></span>
                        </div>
                        <div class="col-xs-4">
                            {{group.instructor}}
                        </div>
                        <div>
                            <span class="dropup" dropdown on-toggle="toggled(open)">
                                <a class="col-xs-4" href class="dropdown-toggle" dropdown-toggle>
                                    {{group.area}} - {{group.section}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-switch on="group.area">
                                        <img class="popup-map" 
                                        ng-switch-when="A" src="assets/images/libA.JPEG">
                                        <img class="popup-map"
                                        ng-switch-when="B" src="assets/images/libB.JPEG">
                                        <img class="popup-map"
                                        ng-switch-when="C" src="assets/images/libC.JPEG">
                                        <img class="popup-map"
                                        ng-switch-when="D" src="assets/images/libD.JPEG">
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="row" ng-show="showDetail">
                        <div class="col-xs-12">{{group.detail}}</div>
                    </div>
                    <hr>
                </div>   
            </div>        
        </div>
    </div>    
</div>
</div>

<!--{{group.area == 'A' && 'assets/images/lib.png' || group.area == 'B' && 'assets/images/lib.png'}}-->


<!-- </span>{{group.section}}</td>-->