<div class="list-view-container">
<div sticky class="input-group col-sm-12"><input ng-model="searchText" placeholder="Search">
</div>
<div class="list-view">
    <div class="top-map">
        <button class="btn btn-warning col-xs-offset-9 col-sm-offset-10" ng-click="isCollapsed = !isCollapsed">View Map</button>
        <div collapse="!isCollapsed">
            <div class="well well-lg map">
                <img class="lib-pic" src="/assets/images/lib.png">
            </div> 
         </div>
    </div> 
<!--
    <div class="map">
        <img class="lib-pic" src="../../assets/images/lib.png">
    </div>
-->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Active Groups</h3>
        </div>
        <div>
            <table class="table list">
                <thead>
                    <tr>
                       <th>Subject</th>
                       <th>Course</th>
                       <th>Location (click to see map)</th>
                    </tr>
                </thead>
                <tr ng-repeat="group in list.arr | filter:searchText">
                    <td>{{group.subject}}</td>
                    <td>{{group.class}}</td>
                    <td>
                        <span class="dropup" dropdown on-toggle="toggled(open)">
                            <a href class="dropdown-toggle" dropdown-toggle>
                                {{group.area}} - {{group.section}}
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-switch on="group.area">
                                    <img class="popup-map" 
                                    ng-switch-when="A" src="assets/images/libA.JPEG">
                                    <img class="popup-map"
                                    ng-switch-when="B" src="assets/images/libB.JPEG">
                                    <img class="popup-map"
                                    ng-switch-when="C" src="assets/images/libC.JPEG">
                                    <img class="popup-map"
                                    ng-switch-when="D" src="assets/images/libD.JPEG">
                                </li>
                            </ul>
                        </span>
                    </td>
                </tr>
            </table>        
        </div>
    </div>    
</div>
</div>

<!--{{group.area == 'A' && 'assets/images/lib.png' || group.area == 'B' && 'assets/images/lib.png'}}-->


<!-- </span>{{group.section}}</td>-->