
<div>
    <span ng-hide="editing">{{manage.arr.subject}}</span>
    <span ng-hide="editing">{{manage.arr.class}}</span>
    <span ng-hide="editing">{{manage.arr.section}}</span>
    <button ng-hide="editing" ng-click="editing = true">Edit</button>
    <button>Delete</button>
    <form ng-show="editing" ng-submit="">
            <input type="text" placeholder={{manage.arr.subject}}>
            <input type="text" placeholder={{manage.arr.class}}>
            <input type="text" placeholder={{manage.arr.section}}>
            <button ng-show="editing" ng-click="editing = false">Save</button>
    </form>
</div>