<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController as nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="dashboard">
        <span class="glyphicon glyphicon-book"></span> Study Buddy
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li><a ui-sref="group">Create</a></li>
        <li><a ui-sref="list">Search</a></li>
        <li><a ui-sref="manage">Manage</a></li>
        <li><a ui-sref="home" ng-click="nav.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
